*{
    margin:  0;
    padding: 0;
}

body {
    font-size: 120;
    background: #e0f8e8;

}

.header {
    background: #88ddbb;
}

.newbook {
    margin: 50px 0px 0px 0px;
}

.memtext {
    font-size: 120%;
    margin: 0px 00px 0px 0px;
}

.book1 {
    margin: 50px 50px 50px 50px;
}


.picbook {
    margin: 50px 50px 50px 50px;
}
.buybook {
    margin: auto;
}


